@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer components {
  .md-title1 {
    @apply font-Inter font-bold text-[28px];
  }

  .title1 {
    @apply font-Inter font-bold text-[16px];
  }

  .lg-header1 {
    @apply font-Inter font-bold text-[45px];
  }

  .md-header1 {
    @apply font-Inter font-bold text-[28px];
  }

  .sm-header1 {
    @apply font-Inter font-bold text-[20px];
  }

  .md-paragraph1 {
    @apply font-Inter font-semibold text-[18px];
  }

  .sm-paragraph1 {
    @apply font-Inter font-semibold text-[14px];
  }

  .md-subTitle1 {
    @apply font-Inter font-extrabold text-[22px];
  }

  .sm-subTitle1 {
    @apply font-Inter font-extrabold text-[16px];
  }

  .lg-label1 {
    @apply font-Inter font-semibold text-[14px];
  }

  .md-label1 {
    @apply font-Inter font-semibold text-[12px];
  }

  .sm-label1 {
    @apply font-Inter font-semibold text-[10px];
  }

  .lg-label2 {
    @apply font-Inter font-semibold text-[10px];
  }

  .text-secColor {
    @apply text-[#385768];
  }

  .bg-hover {
    @apply bg-[#e6edf1] rounded-[10px];
  }
}